apiVersion: batch/v1
kind: CronJob
metadata:
  name: xui-selfbackup
  namespace: xui-vpn
spec:
  schedule: "0 3 * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 86400
      template:
        metadata:
          labels:
            app: xui-selfbackup
        spec:
          restartPolicy: OnFailure
          volumes:
            - name: xui-data
              persistentVolumeClaim:
                claimName: xui-data-pvc
          containers:
            - name: backup
              image: busybox:latest
              volumeMounts:
                - mountPath: /backup
                  name: xui-data
              resources:
                limits:
                  memory: 64Mi
                  cpu: 200m
                requests:
                  memory: 32Mi
                  cpu: 50m
              command:
                - sh
                - -c
                - "find /backup -name 'xui-backup-*.tar.gz' -mtime +2 -delete; tar --use-compress-program=\"gzip -1\" -cf /backup/xui-backup-$(date +%Y%m%d-%H%M%S).tar.gz -C /backup . --exclude='xui-backup-*.tar.gz' && echo 'Backup complete.'"
