apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: xui-data-pvc
  namespace: xui-vpn
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  resources:
    requests:
      storage: 10Gi
