name: Build, Push & Deploy 3X-UI via Docker Hub

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: artur7892988/3xui-k8s-statefulset:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Deploy to Kubernetes
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG }}
        run: |
          kubectl apply -f manifests/namespace.yaml
          kubectl apply -f manifests/storageclass.yaml
          kubectl apply -f manifests/persistentvolume.yaml
          kubectl apply -f manifests/persistentvolumeclaim.yaml
          kubectl apply -f manifests/secret.yaml
          kubectl apply -f manifests/statefulset.dockerhub.yaml
          kubectl apply -f manifests/cronjob-backup.yaml
